body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #292F36;
  color: #F7FFF7;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding:30px 30px;
  position:relative;
  border:none;
  color: #292F36;
  border-radius:2px;
}

button:hover{
  background-color:#3ca09a;
}

button:active{
  transform: scale(0.98); 
  box-shadow: 10px 10px 10px 10px #000000;
}